{% extends "base.html" %}
{% block title %}XCP Management{% endblock %}
{% block page_content %}
      <table class="table">
         <thead bgcolor = grey>
            <td>Name</td>
            <td>Source</td>
            <td>Destination</td>
            <td>Status</td>
         </thead>
         
         {% for migration in migrations %}
            <tr>
               <td><a href="{{ url_for('detail', name=migration.name) }}">{{  migration.name  }}</a></td>
               <td>{{  migration.source  }}</td>
               <td>{{  migration.destination  }}</td>
               <td>{{  migration.status  }}</td>
            </tr>
         {% endfor %}
  
    </table>
{% endblock %}
