{% extends "base.html" %}
{% block title %}XCP Management{% endblock %}
{% block page_content %}
      <table class="table">
         <thead bgcolor = grey>
            <td>Name</td>
            <td>Source</td>
            <td>Destination</td>
         </thead>
         
         {% for row in rows %}
            <tr>
               <td>{{  row["name"]  }}</td>
               <td>{{  row["source"]  }}</td>
               <td>{{  row["destination"]  }}</td>
            </tr>
         {% endfor %}
  
    </table>
{% endblock %}
